
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* CSS variables */
:root {
    --main-bg-color: #b27a9c;
    --main-bg-color-dark: #ab6791;
    --main-bg-color-ligth: #F5EBEB;
    --dark-text-color: #563449;

    --text-blue: #002B5B;
    --whatsapp-green: #25d366;
  }
  
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth
}

/* Header */
header {
    width: 100%;
    height: 116px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color );
    /* padding: 1.5rem; */
}

header img {
    height: 116px;
}

nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

nav>a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav>a:hover {
    color: #89375F;
}

.current {
    display: none;
    /* color: var(--dark-text-color);
    font-size: larger; */
}

.title-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Main */
#main-index {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* padding: 1rem 0; */
    /* gap: 2rem; */
    /* background-color: var(--main-bg-color-ligth); */
}

/* cotiza tu seguro */
.quote {
    position:absolute;
    padding: 0.5em;
    background-color: var(--main-bg-color-ligth);
    outline: 2px solid var(--main-bg-color);
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: box-shadow 0.3s;
}

.quote:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.quote>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--dark-text-color);
    text-decoration: none;
}

.wp {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--whatsapp-green);
    padding: 0.5em;
    border-radius: 30%;
    /* font-size: 1.5rem; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.index-title {
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    margin-top: 56px;
    color: var(--dark-text-color);
}

.title {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: white;
    background-color: var(--main-bg-color-dark);
}

.title-h1 {
    font-size: 1.5rem;
    background-color: var(--main-bg-color);
    padding: 0.5rem 0;
}

.name {
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    margin-top: 56px;
    color: var(--dark-text-color);
}

.name-p {
    font-size: 2rem;
    font-weight: 700;
}

.name-index {
    margin-top: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.prod {
    font-size: 1.1rem;
    border-top: 2px solid var(--main-bg-color-dark);
    text-align: center;
    padding-bottom: 1rem;
    color: var(--dark-text-color);
}

.prod-p {
    font-weight: 700;
}

#products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem 1rem;
}

.card {
    width: 260px;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-bg-color-ligth);
    outline: 2px solid var(--main-bg-color);
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.card h3, .card h5, .card p {
    width: 163px;
    text-align: center;
    color: var(--dark-text-color);
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--main-bg-color-dark);
}

.card-icon>i {
    font-size: 2rem;
    color: white;
}

.datos>p {
    font-size: 12px;
}

.card-link {
    text-decoration: none;
}

/* Links aseguradoras */
.portales {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.fed-pat, .riva{
    width: 190px;
    height: 75px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between ;
    padding: 10px 5px;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
    color:var(--text-blue);
    outline: 2px solid var(--text-blue);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.fed-pat:hover, .riva:hover{
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px;
}

.fed-pat, .riva-no-title {
    justify-content: space-around;
}

.fed-pat>img {
    width: 150px;
}

.riva>img {
    width: 100px;
}

/* Contact */
#main-contact, #main-faq, #main-about, #main-products {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* padding: 1rem 0; */
    /* gap: 2rem; */
    background-color: white;
}

.contact-speech {
    text-align: center;
    line-height: 1.5;
    font-style: oblique;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-bg-color-dark);
    padding: 0 1rem 1rem 1rem;
}

.contact-cards {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.contact-cards a {
    text-decoration: none;
}

/* Products details */
.hero-auto {
    width: 100%;
    padding-top: 45.82%;
    background-image: url(../assets/img/seguro-automotor.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-home {
    background-image: url(../assets/img/seguro-hogar.webp);
}

.hero-life {
    background-image: url(../assets/img/seguro-de-vida-2.webp);
}

.hero-personal {
    padding-top: 54.68%;
    background-image: url(../assets/img/seguro-accidentes-personales.webp);
}

.hero-integral {
    background-image: url(../assets/img/seguro-integral-comercio.webp);
}

.hero-art {
    background-image: url(../assets/img/aseguradoras-riesgos-trabajo.webp);
}

.hero-fire {
    background-image: url(../assets/img/seguro-incendio.webp);
}

.hero-adventure {
    background-image: url(../assets/img/seguro-turismo-aventura-cut.webp);
}

.hero-civil {
    background-image: url(../assets/img/seguro-responsabilidad-civil.webp);
}

.hero-computer {
    padding-top: 66.64%;
    background-image: url(../assets/img/seguro-para-computadoras.webp);
}

.hero-tecnic {
    padding-top: 50.78%;
    background-image: url(../assets/img/seguro-tecnico.webp);
}

.hero-employees {
    background-image: url(../assets/img/seguro-obligatorio-empleados.webp);
}

.hero-motos {
    background-image: url(../assets/img/seguro-motos.webp);
}

#main-products>h2 {
    text-align: center;
    width: 100%;
    color: white;
    background-color: var(--main-bg-color);
    padding: 8px 0;
}

.detail {
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 1rem 2rem 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--main-bg-color-ligth);
    border-right: 3px dotted var(--main-bg-color-dark);
    border-left: 3px dotted var(--main-bg-color-dark);
    border-bottom: 3px dotted var(--main-bg-color-dark);
}

.arrows {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    margin-bottom: 15px;
    background-color: var(--main-bg-color);
    border-left: 2px solid var(--main-bg-color-dark);
    border-bottom: 2px solid var(--main-bg-color-dark);
    border-right: 2px solid var(--main-bg-color-dark);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrows i {
    font-size: 2rem;
    color: white;
}

.arrow-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail>p {
    font-size: 1.2rem;
    color: var(--dark-text-color);
    line-height: 1.8rem;
}

.detail dl {
    color: var(--dark-text-color);
    line-height: 1.5rem;
    margin-left: 1.5rem;
}

.detail dd {
    padding-bottom: 1rem;
}

.detail dt {
    font-weight: 500;
}

.now {
    align-self: flex-end;
    padding: 0.5em;
    background-color: var(--main-bg-color-ligth);
    outline: 2px solid var(--main-bg-color);
    border-top: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    transition: box-shadow 0.3s;
}

.now:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
}

.now>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--dark-text-color);
    text-decoration: none;
}

.back {
    align-self: center;
    margin-bottom: 1rem;
    border-radius: 6px;
}

/* Denuncia */

#denuncia {
    margin: 1rem 0;
    padding: 1rem;
    font-weight: 800;
    font-size: 1.2rem;
    text-decoration: none;
    color:white;
    outline: 2px solid var(--main-bg-color-ligth);
    background-color: var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    border-radius: 10px;
    transition: all 0.2s;
}

#denuncia:hover {
    background-color: var(--main-bg-color-dark);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 12px;
}

.denuncia-title {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 56px;
    padding: 1rem;
    color: var(--dark-text-color);
}

.denuncia-speech {
    border-top: 2px solid var(--main-bg-color-dark);
    padding: 1rem 0;
    margin: 0 1rem;
    text-align: center;
    color: var(--dark-text-color);
    line-height: 1.8rem;
}

.denuncia-speech>a, .answer a {
    color: var(--main-bg-color-dark);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.answer a {
    color: var(--dark-text-color);
}

.denuncia-speech>a:hover, .answer a:hover {
    color: var(--text-blue);
    text-decoration: underline;
}

.detail-denuncia {
    width: 90%;
    padding: 0 1rem;
}

.denuncia {
    gap: 3rem;
}


/* About */
.about-name {
    margin-top: 0;
}

#profile {
    width: 250px;
}

#about-me {
    justify-content: space-evenly;
    text-align: center;
    border-top: 3px dotted var(--main-bg-color-dark);
    padding-top: 2rem;
}

/* FAQ */

.ask {
    width: 100%;
    padding: 2rem 1rem;
}

.ask-speech {
    border: none;
    text-align: left;
    margin: 0;
}

.ask>h3 {
    color: var(--main-bg-color-dark);
}

#questions {
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

#questions>h2 {
    color: var(--main-bg-color-dark);
}

#questions>a {
    color: var(--dark-text-color);
}

.answer li {
    list-style-type: none;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.answer dt {
    font-weight: 600;
    padding: 0.5rem 0;
}

.answer dd {
    font-weight: 500;
    padding-bottom: 0.5rem;
}

#answer-4 li {
    font-weight: normal;
    padding: 0.5rem 0;
}

  .qa {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
  }

  .qa>h3 {
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 10px 10px 0 0;
    background-color: var(--main-bg-color);
  }

  .answer {
    max-width: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0 0 10px 10px;
    background-color: var(--main-bg-color-dark);
  }

  .qa-img {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  


/* Footer */
footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--main-bg-color-dark);
    color: var(--main-bg-color-ligth);
}

.nap {
    text-align: center;
}

.angie-foot {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

}

.social {
    width: 200px;
    gap: 8px;
    padding: 0 8px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid var(--main-bg-color-ligth);
    border-left: 2px solid var(--main-bg-color-ligth);
}

.social>a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.social>a:hover {
    color: var(--dark-text-color);
}

.share {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.8rem;
    padding: 0 8px;
    border-right: 2px solid var(--main-bg-color-ligth);
    border-left: 2px solid var(--main-bg-color-ligth);
}

.share>a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.share>a:hover {
    color: var(--dark-text-color);
}    
/* #copy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
} */

.brands {
    font-size: 0.8rem;
    text-align: center;
}

/* Media queries */
@media only screen and (min-width: 400px){
    header {
        height: 65px;
        /* padding: 0.5rem; */
    }

    header img {
        height: 65px;
    }

    .quote {
        align-self: flex-end;
        margin-right: 1%;
    }

    .card {
        width: 280px;
    }

    .portales {
        padding: 2rem;
    }

    #main-contact .title {
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 950px){
    .name {
        margin-top: 0px;
    }

    #hero {
        height: 85vh;
    }

    .title>h2, .title-h1 {
        font-size: 2rem;
        padding: 8px 0;
    }

    .detail {
        margin: 0 1.5rem 1.5rem 1.5rem;
    }
}

@media only screen and (min-width: 1015px){

    .qa>h3 {
        text-align: end;
        border-radius: 10px 0 0 10px ;
      }
    
      .answer {
        border-radius: 0 10px 10px 0;

      }
}

@media only screen and (min-width: 1200px){
    .denuncia-title {
        margin-top: 0;
    }

    .index-title {
        margin-top: 0px;
    }
}