
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* CSS variables */
:root {
    --main-bg-color: #b27a9c;
    --main-bg-color-dark: #ab6791;
    --main-bg-color-ligth: #F5EBEB;
    --dark-text-color: #563449;

    --text-blue: #002B5B;
    --whatsapp-green: #25d366;
  }
  
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
header {
    width: 100%;
    height: 116px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color );
    /* padding: 1.5rem; */
}

header img {
    height: 116px;
}

nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

nav>a {
    text-align: center;
    text-decoration: none;
    color: white;
}

nav>a:hover {
    color: #89375F;
}

.current {
    color: var(--dark-text-color);
    font-size: larger;
}

.title-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Main */
#main-index {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* padding: 1rem 0; */
    /* gap: 2rem; */
    /* background-color: var(--main-bg-color-ligth); */
}

/* cotiza tu seguro */
.quote {
    position:absolute;
    padding: 0.5em;
    background-color: var(--main-bg-color-ligth);
    outline: 2px solid var(--main-bg-color);
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quote:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    outline: 3px solid var(--main-bg-color);
}

.quote>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--dark-text-color);
    text-decoration: none;
}

.wp {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--whatsapp-green);
    padding: 0.5em;
    border-radius: 30%;
    /* font-size: 1.5rem; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.title {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: white;
    background-color: var(--main-bg-color-dark);
}

.name {
    text-align: center;
    margin-top: 56px;
    padding: 1rem;
    color: var(--dark-text-color);
}

.prod {
    text-align: center;
    padding-bottom: 1rem;
    color: var(--dark-text-color);
}

#products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem 1rem;
}

.card {
    width: 260px;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-bg-color-ligth);
    outline: 2px solid var(--main-bg-color);
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card h3, .card h5, .card p {
    width: 163px;
    text-align: center;
    color: var(--dark-text-color);
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--main-bg-color-dark);
}

.card-icon>i {
    font-size: 2rem;
    color: white;
}

.datos>p {
    font-size: 12px;
}

.card-link {
    text-decoration: none;
}

/* Links aseguradoras */
.portales {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#fed-pat, #riva{
    width: 190px;
    height: 75px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between ;
    padding: 10px 5px;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
    color:var(--text-blue);
    outline: 2px solid var(--text-blue);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#fed-pat {
    justify-content: space-around;
}

#fed-pat>img {
    width: 150px;
}

#riva>img {
    width: 100px;
}

/* Contact */
#main-contact, #main-faq, #main-about, #main-products {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* padding: 1rem 0; */
    /* gap: 2rem; */
    background-color: white;
}

.contact-cards {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.contact-cards a {
    text-decoration: none;
}

.contact-cards .card:hover {
    outline: 3px solid var(--main-bg-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Insurances details */
.hero-auto {
    width: 100%;
    padding-top: 45.82%;
    background-image: url(../assets/img/automotor2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-home {
    background-image: url(../assets/img/hogar-1.jpg);
}

.hero-life {
    padding-top: 66.66%;
    background-image: url(../assets/img/vida.jpg);
}

.hero-personal {
    padding-top: 54.68%;
    background-image: url(../assets/img/seguro-accidentes-personales.jpg);
}

.hero-integral {
    background-image: url(../assets/img/integral.jpg);
}

.hero-art {
    padding-top: 66.64%;
    background-image: url(../assets/img/aseguradoras-riesgos-trabajo.jpg);
}

.hero-fire {
    padding-top: 66.77%;
    background-image: url(../assets/img/fire.jpg);
}

.hero-adventure {
    padding-top: 66.40%;
    background-image: url(../assets/img/adventure.jpg);
}

.hero-civil {
    background-image: url(../assets/img/seguro-responsabilidad-civil.jpg);
}

.hero-computer {
    padding-top: 66.64%;
    background-image: url(../assets/img/seguro-para-computadoras.jpg);
}

.hero-tecnic {
    padding-top: 50.78%;
    background-image: url(../assets/img/seguro-tecnico.jpg);
}

.hero-employees {
    padding-top: 61.56%;
    background-image: url(../assets/img/seguro-obligatorio-empleados.jpg);
}

#main-home>h2, #main-products>h2 {
    text-align: center;
    width: 100%;
    color: white;
    background-color: var(--main-bg-color-dark);
    padding: 8px 0;
}

.detail {
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--main-bg-color-ligth);
    border-right: 3px dotted var(--main-bg-color-dark);
    border-left: 3px dotted var(--main-bg-color-dark);
    border-bottom: 3px dotted var(--main-bg-color-dark);
}

.detail>p {
    font-size: 1.2rem;
    color: var(--dark-text-color);
    line-height: 1.8rem;
}

.detail dl {
    color: var(--dark-text-color);
    line-height: 1.5rem;
    margin-left: 1.5rem;
}

.detail dd {
    padding-bottom: 1rem;
}

.detail dt {
    font-weight: 500;
}

.now {
    align-self: flex-end;
    padding: 0.5em;
    background-color: var(--main-bg-color-ligth);
    outline: 2px solid var(--main-bg-color);
    border-top: 0;
    border-radius: 10px;
}

.now:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    outline: 3px solid var(--main-bg-color);
}

.now>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--dark-text-color);
    text-decoration: none;
}

.back {
    align-self: center;
    margin-bottom: 1rem;
}


/* About */
.about-name {
    margin-top: 0;
}

#profile {
    width: 250px;
}

#about-me {
    justify-content: space-evenly;
    text-align: center;
    border-top: 3px dotted var(--main-bg-color-dark);
}

/* FAQ */

#questions {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* Footer */
footer {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 10vh;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--main-bg-color-dark);
    color: var(--main-bg-color-ligth);
}

.angie-foot {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.social {
    width: 200px;
    gap: 8px;
    padding: 0 8px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid var(--main-bg-color-ligth);
    border-left: 2px solid var(--main-bg-color-ligth);
}

.social>a {
    text-decoration: none;
    color: white;
}

.social>a:hover {
    color: var(--dark-text-color);
}
/* #copy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
} */

#brands {
    font-size: 0.7rem;
    text-align: center;
}

/* Media queries */
@media only screen and (min-width: 400px){
    header {
        height: 65px;
        /* padding: 0.5rem; */
    }

    header img {
        height: 65px;
    }

    .quote {
        align-self: flex-end;
        margin-right: 1%;
    }

    .card {
        width: 280px;
    }

    .portales {
        padding: 2rem;
    }

    #main-contact .title {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 950px){
    .name {
        margin-top: 0px;
    }

    #hero {
        height: 85vh;
    }

    #main-products>h2 {
        font-size: 36px;
        padding: 8px 0;
    }
    .detail {
        margin: 0 1.5rem 1.5rem 1.5rem;
    }
}